svg {
    font-size: 10px;
}

a:hover rect {
    stroke-width: 2px;
    stroke: rgb(0,0,0);
}

a tspan:first-child {
    font-size: 15px;
    fill-opacity: 0.7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a:hover tspan:first-child {
    text-decoration: underline;
    font-weight: bold;
    fill-opacity: 1.0;
}

tspan:last-child {
    font-size: 18px;
    font-weight: bold;
    color: white;
    fill-opacity: 0.7;
}

a:hover tspan:last-child {
    fill-opacity: 1.0;
}